.container {
    background-color: var(--rz-base-800);
    height: 100%;
    width: 100%;
    max-width: 100%;
    margin: 0;
    overflow: scroll;
}
.status-item {
    margin-top: 1em;
}
.container > div {
    position: relative;
}
.container::before {
    pointer-events: none;
    content: "";
    background-image: url("/img/tile.jpg");
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.40;
    filter: blur(6px);
}
::deep .comment-editor-block {
    margin-top: 1em;
}
::deep .comment-editor {
    height: 100px;
    display: block;
}
::deep .avatar-group > .rz-stack {
    overflow-x: auto;
    padding-top: 6px;
}