<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<location>
		<system.webServer>
			<aspNetCore>
				<environmentVariables xdt:Transform="InsertIfMissing">
					<environmentVariable name="ASPNETCORE_ENVIRONMENT"
										 value="Production"
										 xdt:Locator="Match(name)"
										 xdt:Transform="InsertIfMissing" />
					<environmentVariable name="LocalAddress"
										 value=""
										 xdt:Locator="Match(name)"
										 xdt:Transform="InsertIfMissing" />
					<environmentVariable name="CIMON_DbProvider"
										 value="SqlServer"
										 xdt:Locator="Match(name)"
										 xdt:Transform="InsertIfMissing" />
					<environmentVariable name="CIMON_ConnectionStrings__SqlServer"
										 value=""
										 xdt:Locator="Match(name)"
										 xdt:Transform="InsertIfMissing" />
					<environmentVariable name="CIMON_Secrets__Vault__Url"
										 value=""
										 xdt:Locator="Match(name)"
										 xdt:Transform="InsertIfMissing" />
					<environmentVariable name="CIMON_Secrets__Vault__Token"
										 value=""
										 xdt:Locator="Match(name)"
										 xdt:Transform="InsertIfMissing" />
					<environmentVariable name="CIMON_Secrets__Vault__UserName"
										 value=""
										 xdt:Locator="Match(name)"
										 xdt:Transform="InsertIfMissing" />
					<environmentVariable name="CIMON_Secrets__Vault__Password"
										 value=""
										 xdt:Locator="Match(name)"
										 xdt:Transform="InsertIfMissing" />
				</environmentVariables>
			</aspNetCore>
		</system.webServer>
	</location>
</configuration>
