@page "/monitor/{monitorId?}"
@using Cimon.Data
@using System.Reactive.Linq
@inject MonitorService MonitorService
@inject BuildInfoService BuildInfoService
@inherits ReactiveComponent

<PageTitle>CI @MonitorId</PageTitle>
<div class="monitor">
    @if (_buildInfos == null) {
        <p>Monitor not fount</p>
    } else {
        @foreach (var buildInfo in _buildInfos) {
            <BuildInfoComponent Info="buildInfo"></BuildInfoComponent>
        }
    }
</div>
<style>
    .monitor{
        background-color: #4d4d4d;
        font-size: xx-small;
        height: 100%;
        display: grid;
        align-content: stretch;
        justify-items: stretch;
        align-items: stretch;
        grid-template-columns: auto;
    }
    @@media only screen and (min-width: 800px) {
        .monitor {
            grid-template-columns: auto auto;
        }
    }

</style>
@code {

    [Parameter]
    public string? MonitorId { get; set; }

    private IList<BuildInfo>? _buildInfos = new List<BuildInfo>();

    protected override void OnInitialized() {
        MonitorId ??= "default";
        Subscribe(BuildInfoService.Watch(MonitorService.GetMonitorById(MonitorId)
            .Select(m => m?.Builds ?? new List<BuildLocator>())), () => _buildInfos);
    }

}
