@page "/MonitorList"
@using Cimon.Data
@using Microsoft.AspNetCore.Http.Extensions
@inject MonitorService MonitorService
@inherits ReactiveComponent

<h3>MonitorList</h3>
<RadzenButton Click="add">Add</RadzenButton>


@foreach (var monitor in _monitors) {
    <RadzenCard>
        <RadzenLink Path="@UriHelper.BuildRelative("/monitor", $"/{monitor.Id}")">
            @monitor.Id
        </RadzenLink>
    </RadzenCard>

}

@code {

    private IList<Monitor> _monitors = new List<Monitor>();
    
    protected override void OnInitialized() {
        Subscribe(MonitorService.GetMonitors(), () => _monitors);
    }

    private void add() {
        MonitorService.Add();
    }

}
