@page "/MonitorList"
@using Cimon.Data
@using Microsoft.AspNetCore.Http.Extensions
@inject MonitorService MonitorService
@inherits ReactiveComponent

<h3>MonitorList</h3>
<RadzenButton Click="add">XXX</RadzenButton>

@foreach (var monitor in _monitors) {
    <NavLink class="nav-link" href="@UriHelper.BuildRelative("/monitor", $"/{monitor.Id}")">
        <span class="oi oi-plus" aria-hidden="true"></span>@monitor.Id
    </NavLink>
}

@code {

    private IList<Monitor> _monitors = new List<Monitor>();
    
    protected override void OnInitialized() {
        Subscribe(MonitorService.GetMonitors(), () => _monitors);
    }

    private void add() {
        MonitorService.Add();
    }

}