@page
@model Cimon.Pages.SignalTest

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Signals test</title>
</head>
<body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/7.0.5/signalr.js" integrity="sha512-tpBsmBFkC8YBhVdyWZwUQBapLZYews0549Qy6r2S6EjanLGzWoXvfm8cynvcD1XjKkszf5XpCrfI9V1+p3xmAw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<div id="app">
    {{ state }}
    <p>{{ UserName }}</p>
    <button @@click="notify">+</button>
    <li v-for="item in messages">
        <a v-bind:href="item.url">{{ item.msg }}</a>
    </li>
</div>
<script type="module" src="/js/SignalTest.js"></script>
</body>
</html>
