@using Microsoft.AspNetCore.WebUtilities
@using Optional
@using Optional.Linq
@inherits Microsoft.AspNetCore.Components.LayoutComponentBase
@inject UnprotectedLocalStorage BrowserStorage
@inject NavigationManager NavManager

<PageTitle>Cimon</PageTitle>
<RadzenButton Visible="_headerCollapsed" Click="ToggleFullscreenAsync" Icon="fullscreen" ButtonStyle="ButtonStyle.Primary" class="full-screen-toggle full-screen-toggle-float" />
<RadzenLayout class="@pageClass()" Style="grid-template-columns: auto 1fr auto; grid-template-areas: 'rz-header rz-header rz-header' 'rz-sidebar rz-body rz-right-sidebar'">
    <RadzenHeader class="header-line">
        <RadzenRow AlignItems="AlignItems.Center">
            <RadzenColumn>
                <RadzenLink Text="Home" Icon="home" Path=""/>
                 <RadzenLink Text="Monitors" Icon="monitor" Path="monitorList"/>
                 <RadzenLink Text="Last monitor" Icon="monitor" Path="api/users/openLastMonitor"/>
                 <RadzenLink Text="Native app" Icon="monitor" Path="native"/>
                   <AuthorizeView Roles="teams-editor">
                       <RadzenLink Text="SetupTeams" Icon="groups" Path="SetupTeams"/>
                   </AuthorizeView>
                   <AuthorizeView Roles="admin">
                       <RadzenLink Text="Users" Icon="groups" Path="UsersList"/>
                   </AuthorizeView>
                   <AuthorizeView Roles="admin">
                       <RadzenLink Text="SignalTest" Icon="monitor" Path="SignalTest"/>
                   </AuthorizeView>
                   <AuthorizeView Roles="admin">
                       <RadzenLink Text="Setup CIConnectors" Icon="monitor" Path="SetupCIConnectors"/>
                   </AuthorizeView>
            </RadzenColumn>
            <RadzenColumn>
                <RadzenStack class="right-toolbar" Orientation="Orientation.Horizontal" JustifyContent="JustifyContent.End" Gap="0">
                    <div class="rz-mr-2 login-info"><LoginDisplay/></div>
                    <RadzenButton Click="ToggleFullscreenAsync" Icon="fullscreen" ButtonStyle="ButtonStyle.Primary" class="full-screen-toggle" />
                    <div class="rz-ml-2"></div>
                </RadzenStack>
            </RadzenColumn>
        </RadzenRow>
    </RadzenHeader>
    <RadzenBody Style="padding: unset">
        @Body
    </RadzenBody>
    <RadzenDialog/>
    <RadzenNotification/>
    <RadzenContextMenu/>
    <RadzenTooltip/>
</RadzenLayout>

<style>
    .header-line {
        font-size: 1.2em;
        padding-left: 1em;
    }
    .header-line a {
        margin-left: 0.5em;
    }
    .full-screen .rz-sidebar {
        display: none;
    }
    .full-screen .rz-header {
        display: none;
    }
    .full-screen-toggle-float {
        position: absolute;
        right: 0.5em;
        top: 0.5em;
        z-index: 10;
        background-color: transparent !important;
    }
    .right-toolbar{
        margin-top: 0.5em;
    }
    .login-info{
        display: flex;
        align-items: center;
    }
</style>
@code {
    private bool _headerCollapsed;
    
    protected override void OnInitialized() {
        base.OnInitialized();
        var uri = NavManager.ToAbsoluteUri(NavManager.Uri);
        if (QueryHelpers.ParseQuery(uri.Query).TryGetValue("full-screen", out var value) 
                && bool.TryParse(value, out var fullScreen)) {
            _headerCollapsed = fullScreen;
        }
    }

    private string pageClass() => _headerCollapsed ? "header-expanded full-screen" : string.Empty;

    protected override async Task OnAfterRenderAsync(bool firstRender) {
        if (firstRender) {
            (await InitFromStorage("HeaderCollapsed", _headerCollapsed)).MatchSome(res => {
                _headerCollapsed = res;
                StateHasChanged();
            });
        }
    }

    private async Task<Option<bool>> InitFromStorage(string name, bool field) {
        var result = await BrowserStorage.GetAsync<bool>(name);
        return result.Where(x => field != x);
    }

    private async Task ToggleFullscreenAsync() {
        _headerCollapsed = !_headerCollapsed;
        await BrowserStorage.SetAsync("SidebarCollapsed", _headerCollapsed);
    }


}
