@page "/"
@using Cimon.Shared
@using Microsoft.AspNetCore.Components.Web
@namespace Cimon.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <base href="~/"/>
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css"/>
    <link href="css/site.css" rel="stylesheet"/>
    <link href="Cimon.styles.css" rel="stylesheet"/>
    <link rel="icon" type="image/png" href="favicon.png"/>
    <link rel="stylesheet" href="_content/Radzen.Blazor/css/material-base.css">
    <link rel="stylesheet" href="css/quill.core.css"/>
    <link rel="stylesheet" href="css/quill.snow.css"/>
    <link rel="stylesheet" href="css/quill.mention.min.css"/>
    <link rel="stylesheet" href="css/styles/vs2015.min.css"/>
    <link rel="stylesheet" href="css/quillInterop.css"/>
    <component type="typeof(HeadOutlet)" render-mode="ServerPrerendered" />
</head>
<body>
@{
    var initialState = new InitialApplicationState {
        ClientType = AppClientType.Web
    };
    if (HttpContext.Request.Cookies.TryGetValue("Cimon-ClientType", out var type) 
            && Enum.TryParse<AppClientType>(type, out var clientType)) {
        initialState.ClientType = clientType;
    }
}
<component type="typeof(App)" render-mode="ServerPrerendered" param-InitialState="initialState"/>
<div id="ql-fullscreen-image-background">
    <div id="ql-fullscreen-image"></div>
</div>
<div id="blazor-error-ui">
    <environment include="Staging,Production">
        An error has occurred. This application may no longer respond until reloaded.
    </environment>
    <environment include="Development">
        An unhandled exception has occurred. See browser dev tools for details.
    </environment>
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

<script src="_framework/blazor.server.js"></script>
<script src="_content/Radzen.Blazor/Radzen.Blazor.js"></script>
<script src="js/highlight.js"></script>
<script src="js/quill.min.js"></script>
<script src="js/quill.mention.min.js"></script>
<script src="js/languages/csharp.min.js"></script>
<script src="js/languages/typescript.min.js"></script>
<script src="js/languages/diff.min.js"></script>
<script src="js/languages/shell.min.js"></script>
<script src="js/languages/xml.min.js"></script>
<script src="js/languages/yaml.min.js"></script>
<script src="js/languages/javascript.min.js"></script>
<script src="js/languages/markdown.min.js"></script>
<script src="js/quillInterop.js"></script>
<script src="js/main.js"></script>
</body>
</html>
