@page
@model Cimon.Pages.SignalTest
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Signals test</title>
</head>
<body>
<script src="/deps/js/signalr.js" asp-append-version="true" ></script>
<div id="app">
    {{ state }}
    <p>{{ UserName }}</p>
    <button @@click="notify">+</button>
    <div>Messages</div>
    <li v-for="item in messages">
        <a v-bind:href="item.url">{{ item.header }}</a>
        <p>{{ item.message }}</p>
    </li>
    <div>Mentions</div>
    <li v-for="item in mentions">
        <a v-bind:href="getDiscussionUrl(item)" target="_blank">You were mentioned {{ item.commentsCount }} in build {{ item.buildId }}</a>
    </li>
    <div>Monitor info</div>
    <div>monitorKey: {{ monitorInfo?.monitorKey }}</div>
    <div>failedBuildsCount: {{ monitorInfo?.failedBuildsCount }}</div>
</div>
<script type="module" src="/js/SignalTest.js"></script>
</body>
</html>
