@inject DialogService DialogService

<div data-qa="build-config-dialog">
    <RadzenButton aria-label="save-build-configs" Text="Save" Icon="save" Click="OnSaveClick" />
    
    <BuildConfigList @ref="_list" SelectedBuildConfigIds="@SelectedBuildConfigIds"></BuildConfigList>
</div>
@code {

    private BuildConfigList _list = null!;

    [Parameter]
    public IEnumerable<int>? SelectedBuildConfigIds { get; set; }

    private void OnSaveClick() {
        DialogService.Close(_list.SelectedLocators?.Select(x => x.Id));
    }


}
