.monitor-settings-panel {
    position: fixed;
    z-index: 100;
    bottom: 10px;
    left: 10px;
}

.monitor {
    background-color: var(--rz-base-800);
    font-size: small;
    height: 100%;
    display: grid;
    align-content: stretch;
    justify-items: stretch;
    align-items: stretch;
    grid-template-columns: auto;
}

.monitor h1 {
    color: var(--rz-danger);
}

.build-info-item h6 {
    margin-bottom: 2px;
}

.user-name {
    color: white !important;
    text-wrap: balance;
    max-width: 50px;
    line-break: anywhere;
    text-align: center;
    margin-bottom: 0;
    margin-top: -6px;
    z-index: 1;
    backdrop-filter: blur(10px);
}

.avatar-group > .rz-stack {
    overflow-x: clip;
}

.committer.suspect .commits-count {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: #e66060;
    color: white;
}

button.rz-button.discussion-button {
    padding: 0;
}

button.rz-button.discussion-button:hover {
    background-color: transparent !important;
}

button.rz-button.discussion-button:not(:hover) .rz-badge {
    background-color: transparent;
}

.avatar {
    position: relative;
    border-radius: 32px;
}

.commits-count, .failure-author-confidence {
    color: white;
    position: absolute;
    width: 16px;
    text-align: center;
    border-radius: 8px;
    line-height: 16px;
}

.commits-count {
    top: -4px;
    right: -10px;
    background-color: #ffb35bfc;
    color: #980202;
}

.active-user {
    top: 22px;
    left: 3px;
    position: absolute;
    width: 6px;
    height: 6px;
    background-color: rgb(80 180 62 / 86%);
    border-radius: 5px;
}

.mention-list-item {
    .active-user {
        top: 14px;
        left: 8px;
    }
}

.commits-count p {
    margin-bottom: 0;
}

.status-tooltip {
    max-width: 400px;
    text-wrap: balance;
    line-break: anywhere;
}

@property --bg-from {
    syntax: '<color>';
    initial-value: #3e6213;
    inherits: false;
}

@property --bg-to {
    syntax: '<color>';
    initial-value: #71a431;
    inherits: false;
}

.build-info-item {
    margin: 0.1em;

    &.failed {
        .content {
            --bg-from: rgb(116, 34, 34);
            --bg-to: rgb(190, 64, 64);
        }

        .build-status {
            cursor: pointer;
        }
    }
	&.no-data {
		  .content {
			  --bg-from: rgb(142, 119, 3);
			  --bg-to: rgb(176, 181, 52);
		  }
	}

    .content {
        --bg-from: #3e6213;
        --bg-to: #71a431;
        transition: --bg-from 1s, --bg-to 1s;
        background: var(--bg-from);
        background: linear-gradient(1deg, var(--bg-from) 0%, var(--bg-to) 100%);
        padding: 0.5em;
        height: 100%;
        container-type: size;
    }

    .drop-zone {
        height: 2em;
        width: 100%;
        border: 3px dashed #0077b6;
        box-shadow: 0 0 10px rgba(0, 119, 182, 0.5);
    }

    .loading {
        --bg-from: rgb(76 116 34 / 0%);
        --bg-to: rgb(180 180 180 / 25%);
    }

}

.build-info-item .committer p {
    font-size: clamp(5px, 12cqmin, 15px);
}

.build-info-item h4 {
    margin-bottom: 4px;
    font-size: clamp(10px, 2vw, 15px) !important;
}

.build-info-item h5 {
    font-size: clamp(.8em, 5vw, 1em) !important;
}

.committer-wrap {
    scale: 0.7;
}

.build-status {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    display: inline-block;
}

.build-info-item .build-info-link, .build-info-item .build-info-link:hover, .build-status {
    color: var(--rz-white) !important;
}

.monitor.monitor-columns-2 {
    grid-template-columns: auto auto;
}

.monitor.monitor-columns-3 {
    grid-template-columns: auto auto auto;
}

.monitor.monitor-columns-4 {
    grid-template-columns: auto auto auto auto;
}

.monitor.monitor-columns-5 {
    grid-template-columns: auto auto auto auto auto;
}

@media only screen and (max-width: 700px) {
    .build-info-item {
        grid-row: auto / span 1;

        &.failed.with-committers {
            grid-row: auto / span 2;
        }

        .build-name {
            max-width: 320px;
            white-space: nowrap;
            display: contents;
        }

        .build-name-text {
            display: contents;
        }

        .build-info-link, .build-status {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        .build-status {
            display: flex;
            flex-direction: row-reverse;
            justify-content: flex-end;
        }

        &.failed {
            .build-name-and-status {
                flex-direction: row !important;

                .build-name {
                    flex-direction: row-reverse !important;

                    .rz-badge {
                        padding: 0;
                        margin-right: 4px;
                        margin-left: 4px !important;
                    }

                    .build-info-link {
                        padding-top: 2px;
                        align-self: baseline;
                    }
                }
            }

            .build-status {
                align-self: self-end;
            }
        }
    }
}
.build-info-in-discussion  .committer-wrap {
	scale: 1;
}
@media only screen and (min-width: 700px) {
    .committer-wrap {
        scale: 1;
    }

    .monitor {
        grid-template-columns: auto auto;
    }

    .build-info-item .committer .commits-count {
        font-size: clamp(10px, 8cqmin, 15px);
    }

    .build-info-item .committer p {
        font-size: clamp(8px, 8cqmin, 15px);
    }

    .build-info-item {
        white-space: normal;
        text-overflow: ellipsis;
        grid-row: auto / span 2;
		overflow: auto;
    }
	.build-info-in-discussion .build-info-item {
		overflow: visible;
		height: 15em !important;
	}

    .build-info-item h5 {
        font-size: clamp(5px, 17cqmin, 20px);
    }

    .build-info-item h4 {
        font-size: clamp(10px, 22cqmin, 20px);
    }

    .build-info-item:not(.failed) h4 {
        font-size: clamp(10px, 38cqmin, 20px);
    }

    .build-info-item.failed.with-committers {
        grid-row: auto / span 3;
    }
}

.build-info-in-discussion {
    .build-info-item {
        margin-top: 1em;
        height: 12em;
        border-radius: 5px;
    }

    .commits-count {
        position: fixed;
    }
}
@keyframes hide-circle {
    0% { clip-path: polygon(50% 55%, 50% 0, 100% 0, 100% 100%, 0 100%, 0 0, 50% 0); }
    13% { clip-path: polygon(50% 50%, 75% 25%, 100% 0, 100% 100%, 0 100%, 0 0, 50% 0); }
    25% { clip-path: polygon(50% 50%, 75% 50%, 100% 50%, 100% 100%, 0 100%, 0 0, 50% 0); }
    38% { clip-path: polygon(50% 50%, 50% 50%, 100% 100%, 100% 100%, 0 100%, 0 0, 50% 0); }
    50% { clip-path: polygon(50% 50%, 50% 50%, 50% 100%, 50% 100%, 0 100%, 0 0, 50% 0); }
    63% { clip-path: polygon(50% 50%, 50% 50%, 50% 50%, 0 100%, 0 100%, 0 0, 50% 0); }
    75% { clip-path: polygon(50% 50%, 50% 50%, 50% 50%, 50% 50%, 0 50%, 0 0, 50% 0); }
    88% { clip-path: polygon(50% 50%, 50% 50%, 50% 50%, 50% 50%, 25% 25%, 0 0, 50% 0); }
    100% { clip-path: polygon(50% 50%, 50% 50%, 50% 50%, 50% 50%, 50% 50%, 25% 0, 50% 0); }
}
.monitor-group-controls {
    position: fixed;
    bottom: 0;
    display: flex;
    width: 100%;
    justify-content: center;
    opacity: 0.3;
    .nav-button {
        transition: opacity 0.2s ease-in-out;
        i {
            cursor: pointer;
            color: #232323;
            font-size: 2em;
            font-weight: bold;
            position: relative;
        }
        &.active i {
            animation-timing-function: ease-in-out;
            animation-iteration-count: 1;
            animation-name: hide-circle;
        }
    }
}
.monitor-group-controls.paused {
    opacity: .8;
    .nav-button.active i {
        animation: none;
        color: #8bc34ade;
    }
}
.monitor-group-controls:hover {
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}
