.build-info-item h4 {
    margin-bottom: 4px;
}

.build-info-item h6 {
    margin-bottom: 2px;
}

.user-name {
    color: white !important;
    text-wrap: balance;
    max-width: 50px;
    line-break: anywhere;
    text-align: center;
    margin-bottom: 0;
    margin-top: -6px;
    z-index: 1;
    backdrop-filter: blur(10px);
}

.avatar-group > .rz-stack {
    overflow-x: clip;
}

.committer.suspect .commits-count {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: #e66060;
    color: white;
}

button.rz-button.discussion-button {
    padding: 0;
    position: absolute;
}

button.rz-button.discussion-button:hover {
    background-color: transparent !important;
}

button.rz-button.discussion-button:not(:hover) .rz-badge {
    background-color: transparent;
}

.avatar {
    position: relative;
    border-radius: 32px;
}

.commits-count, .failure-author-confidence {
    color: white;
    position: absolute;
    width: 16px;
    text-align: center;
    border-radius: 8px;
    line-height: 16px;
}

.commits-count {
    top: -4px;
    right: -10px;
    background-color: #ffb35bfc;
    color: #980202;
}

.commits-count p {
    margin-bottom: 0;
}

.status-tooltip {
    max-width: 400px;
    text-wrap: balance;
    line-break: anywhere;
}

.monitor {
    background-color: var(--rz-base-800);
    font-size: small;
    height: 100%;
    display: grid;
    align-content: stretch;
    justify-items: stretch;
    align-items: stretch;
    grid-template-columns: auto;
}

.monitor h1 {
    color: var(--rz-danger);
}

@property --bg-from {
    syntax: '<color>';
    initial-value: #3e6213;
    inherits: false;
}

@property --bg-to {
    syntax: '<color>';
    initial-value: #71a431;
    inherits: false;
}
.build-info-item {
    --bg-from: #3e6213;
    --bg-to: #71a431;
    transition: --bg-from 1s, --bg-to 1s;
    background: var(--bg-from);
    background: linear-gradient(1deg, var(--bg-from) 0%, var(--bg-to) 100%);
    padding: 0.5em;
    margin: 0.1em;
    container-type: size;
}

.build-info-item.loading {
    --bg-from: rgb(76 116 34 / 0%);
    --bg-to: rgb(180 180 180 / 25%);
}

.build-info-item.failed {
    --bg-from: rgb(116, 34, 34);
    --bg-to: rgb(190, 64, 64);
}

.build-info-item .committer p {
    font-size: clamp(5px, 12cqmin, 15px);
}

.build-info-item h4 {
    font-size: clamp(10px, 2vw, 15px) !important;
}
.build-info-item h5 {
    font-size: clamp(.8em, 5vw, 1em) !important;
}
.committer-wrap {
    scale: 0.7;
}
.build-status {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    display: inline-block;
}

.build-info-item .build-info-link
, .build-info-item .build-info-link:hover
, .build-status {
    color: var(--rz-white) !important;
}
.build-info-item.failed {
    .build-status {
        cursor: pointer;
    }
}
@media only screen and (max-width: 700px) {
    .build-info-item {
        grid-row: auto / span 1;
        &.failed.with-committers {
            grid-row: auto / span 2;
        }

        .build-name {
            max-width: 320px;
            white-space: nowrap;
            display: contents;
        }
        .build-name-text {
            display: contents;
        }
        .build-info-link, .build-status {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
        .build-status {
            display: flex;
            flex-direction: row-reverse;
            justify-content: flex-end;
        }
        &.failed {
            .build-info-link {
                 margin-left: 22px;
            }
            .build-name-and-status {
                flex-direction: row !important;
            }
            .build-status {
                align-self: self-end;
            }
        }
        .discussion-button {
            position: fixed !important;
            top: 4px;
            left: -6px;
        }
    }
}
@media only screen and (min-width: 700px) {
    .committer-wrap{
        scale: 1;
    }
    .monitor {
        grid-template-columns: auto auto;
    }

    .build-info-item .committer .commits-count {
        font-size: clamp(10px, 8cqmin, 15px);
    }

    .build-info-item .committer p {
        font-size: clamp(8px, 8cqmin, 15px);
    }

    .build-info-item {
        white-space: normal;
        text-overflow: ellipsis;
        overflow: auto;
    }

    .build-info-item h5 {
        font-size: clamp(5px, 17cqmin, 20px);
    }

    .build-info-item h4 {
        font-size: clamp(10px, 22cqmin, 20px);
    }
    .build-info-item:not(.failed) h4 {
        font-size: clamp(10px, 38cqmin, 20px);
    }
    .build-info-item.failed.with-committers {
        grid-row: auto / span 3;
    }
    .build-info-item {
        grid-row: auto / span 2;
    }

}
.build-info-in-discussion {
    .build-info-item {
        margin-top: 1em;
        height: 12em;
        border-radius: 5px;
    }
    .commits-count {
        position: fixed;
    }
}
