#ql-fullscreen-image-background {
    background-color: rgb(48 48 48 / 94%);
    visibility: hidden;
    position: fixed;
    z-index: 100;
    width: 100%;
    height: 100%;
    top: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}
#ql-fullscreen-image {
    cursor: zoom-out;
    position: fixed;
    height: 80%;
    width: 80%;
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
}
.ql-editor img {
    cursor: zoom-in;
}
.ql-mention-list-item {
    font-size: 1em;
    line-height: 34px;
}
